footer {
	position: absolute;
	bottom: 0; /* stick to bottom */
	left: 0;
	width: 100%; /* full width */
	padding: 16px 0; /* adjust padding */
	display: flex;
	align-items: center;
	justify-content: center;
}

footer p {
	margin: 0;
	text-align: center;
	color: var(--black);
	font-size: 12px;
}
