nav {
	height: 150px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;

	@media (max-width: 864px) {
		/* position: relative; */
		/* comment this in for "sticky header" */
	}

	.navigation__logo {
		width: 20%;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		img {
			height: 50%;

			@media (max-width: 864px) {
				height: 35%;
			}
		}
	}

	.navigation__links {
		width: 35%;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		a {
			margin: 0 16px;
			text-decoration: none;
			color: var(--black);
			font-size: 1rem;

			&:hover {
				color: silver;
			}
		}
	}

	@media (max-width: 864px) {
		.navigation__logo {
			width: 20%;

			img {
				height: 25%;
				margin-left: 32px;
			}
		}

		.navigation__links {
			width: 70%;
		}
	}
}
